.nav {
  top: 0;
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
  background-color: rgba(83, 181, 182, 0.6);
  transition: background-color .3s;
}

.nav:hover {
  background-color: rgba(83, 181, 182, 1);
  transition: background-color .3s;
}

.nav__sec {
  display: flex;
}

.nav__sec a {
  color: black;
  height: 35px;
  display: flex;
  padding: 0 15px;
  flex-direction: row;
  font-size: 20px;
  align-items: center;
  text-decoration: none;
  transition: background-color .3s;
}

.nav__sec a:hover {
  background-color: rgb(83, 112, 114);
  transition: background-color .3s;
}

.nav__sec ul {
  list-style-type: none;
  overflow: hidden;
  display: flex;
}

.nav__left {
  float: left;
}

.nav__right {
  float: right;
}

.resp_icon {
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
}

@media only screen and (max-width: 500px) {
  .resp_icon {
    display: flex;
    float: right;
    margin-top: -35px;
    transform: rotate(90deg);
    transition: all .3s;
  }

  .resp_icon:not(.active) {
    transform: rotate(0deg);
    transition: all .3s;
  }

  .nav__right ul {
    height: 105px;
    align-items: left;
    flex-direction: column;
    transition: height .3s;
  }

  .nav__right ul:not(.active) {
    height: 0;
    transition: height .3s;
  }

  .nav__sec li {
    width: 100%;
  }

  .nav__right {
    display: block;
    width: 100%;
  }

  .nav__right a {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
  }

}
