<div class="nav">
  <div class="nav__sec nav__left">
    <a href="#"><strong>Abstract</strong></a>
  </div>
  <div class="nav__sec nav__right">
    <span class='resp_icon' onclick="toggleNav()">&#9776;</span>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Contact us</a></li>
      <li><a href="#">Hire!</a></li>
    </ul>
  </div>
</div>
