<div class="nav">
  <div class="nav__sec nav__right">
    <ul>
      <li class='resp_icon'><a href="#">&#9776;</a></li>
      <li><a href="#">Home</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Hire!</a></li>
    </ul>
  </div>
  <div class="nav__sec nav__left">
    <a href="#"><strong>Abstract</strong></a>
  </div>
</div>
