<!DOCTYPE html>
<html lang="en">
  {{>head}}
  <header>
    {{>header}}
  </header>
  <body>
    {{{body}}}
    <script src="/js/header.js" charset="utf-8"></script>
  </body>
  <!-- Footer to be made -->
</html>
